[submodule "vendor/ffmpeg"]
	path = vendor/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
	shallow = true
	update = none
[submodule "vendor/dcadec"]
	path = vendor/dcadec
	url = https://github.com/foo86/dcadec.git
	shallow = true
	update = none
